@import "tailwindcss";

/* Flowbite theme */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "flowbite/src/themes/default";

/* Flowbite Plugin */
@plugin "flowbite/plugin";

/* File Configuration */
@source "../../node_modules/flowbite";


/* Theme config Tailwind v4 */
@theme {
    --color-primary: #FD6F00;
    --color-secondary: #FF8B31;
}

@theme {
    --container-padding: 1rem;

    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
}

@theme {
    --font-sans: "Montserrat", sans-serif;
}

/* ================= NAV LINK ================= */

.nav-link {
  @apply relative block py-2 px-3 text-heading transition-all duration-300 md:p-0;
}

/* underline animation */
.nav-link::after {
  content: "";
  @apply absolute left-0 -bottom-1 w-0 h-0.5 bg-primary transition-all duration-300;
}

.nav-link:hover::after {
  @apply w-full;
}

.nav-link:hover {
  @apply text-primary;
}

/* active state */
.active-link {
  @apply text-primary font-semibold;
}

.active-link::after {
  @apply w-full;
}

/* ================= HAMBURGER ================= */

.hamburger-line {
  @apply block w-6 h-0.5 bg-heading rounded transition-all duration-300 mb-1;
}

button[aria-expanded="true"] .hamburger-line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

button[aria-expanded="true"] .hamburger-line:nth-child(2) {
  opacity: 0;
}

button[aria-expanded="true"] .hamburger-line:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}