<nav class="bg-white backdrop-blur-md shadow-sm fixed w-full z-20 top-0 start-0 border-b border-default">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto px-6 py-3">

        <!-- Logo -->
        <a href="/index.html" class="flex items-center space-x-3 rtl:space-x-reverse group">
            <img src="/src/img/logo-horizontal.webp"
                class="h-14 transition-transform duration-300 group-hover:scale-105"
                alt="Logo" />
        </a>

        <!-- Hamburger Button -->
        <button data-collapse-toggle="navbar-dropdown"
            type="button"
            class="md:hidden relative w-10 h-10 flex flex-col justify-center items-center group">

            <span class="sr-only">Open main menu</span>

            <!-- Line 1 -->
            <span class="hamburger-line"></span>

            <!-- Line 2 -->
            <span class="hamburger-line"></span>

            <!-- Line 3 -->
            <span class="hamburger-line"></span>
        </button>

        <!-- Menu -->
        <div class="hidden w-full md:block md:w-auto" id="navbar-dropdown">
            <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 rounded-base md:space-x-10 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-transparent">

                <li>
                    <a href="/index.html"
                        class="nav-link active-link">Home</a>
                </li>

                <li>
                    <a href="/src/pages/products.html"
                        class="nav-link">Products</a>
                </li>

                <li>
                    <a href="/src/pages/about.html"
                        class="nav-link">About</a>
                </li>

                <li>
                    <a href="/src/pages/galleries.html"
                        class="nav-link">Galleries</a>
                </li>

                <li>
                    <a href="/src/pages/contact.html"
                        class="nav-link">Contact</a>
                </li>

            </ul>
        </div>
    </div>
</nav>